.container {
  position: absolute;
  /* top: 40%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 4px solid greenyellow;
}
.popupAnimation {
  transform: scale(10);
  z-index: 1000;
  animation: 2s like-heart-animation ease-in-out forwards;
}

@keyframes like-heart-animation {
  0%,
  to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  15% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  30% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  45%,
  80% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
