.reactions {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 80%;
  overflow: hidden;
  
}
.allEmojis::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
.allEmojis {
  display: flex;
  max-width: 300px;
  flex-direction: row;
  overflow-x: scroll;
  width: inherit;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  
}