.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: '1px solid red';
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

