.post {
  /* Keeps the slider from stretching horizontally*/
  max-width: 469px;
  /* position: relative; */
  /* display flex commented about because it wouldnt work with the slider */
  flex-direction: column;
  /* border: 1px solid black; */
  /* overflow:auto; */
  margin-bottom: 36px;
  align-items: center;
  justify-content: center;
}