.post {
  /* Keeps the slider from stretching horizontally*/
  max-width: 469px;
  width: 100%;
  /* position: relative; */
  /* display flex commented about because it wouldnt work with the slider */
  flex-direction: column;
  /* overflow:auto; */
  /* margin-bottom: 3/6px; */
  align-items: center;
  position: relative;
  justify-content: center;
}