.container {
  display: flex;
  flex-direction: row;
  border-radius: 83px;
  backdrop-filter: blur(3px);
  align-items: center;
  z-index: 1000;
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid white;
  animation: container 30s ease-in-out infinite;
}


@keyframes loading {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes container {
  0% {
    border-color: #FDD835;
  }
  25% {
    border-color: #FF5722;
  }
  50% {
    border-color: #E91E63;
  }
  75% {
    border-color: #9C27B0;
  }
  100% {
    border-color: #3F51B5;
  }
}