.container {
  display: flex;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  flex-grow: 1;
  flex-shrink: 0;
}
.imageCard {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
    align-items: center;
    display: flex;
}