.post-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}
.more-btn {
  margin-left: auto;
}

.avatar {
  margin-right: 8px;
}