.image {
  -webkit-touch-callout: none;
  object-fit: cover;
  touch-action: manipulation;
  user-select: none;
  height: -webkit-fill-available;
  aspect-ratio: 0;
  max-height: 600px;
  
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  position: relative;
  -webkit-touch-callout: none;
}
.post .icon {
  position: absolute;
  display: inline-block;
  width: 128px;
  opacity: 0;
  fill: red;
}
.popupAnimation {
  transform: scale(10);
  animation: 2s like-heart-animation ease-in-out forwards;
}

@keyframes like-heart-animation {
  0%,
  to {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  30% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  45%,
  80% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);

  }
}