.thumbnail {
  height: 50px;
  width: 50px;
  display: flex;
}
.container {
  /* margin-bottom: 8px; */
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.linkForm {
  display: flex;
  flex-direction: column;
  width: 100%
}
.linkFormButtonContainer {
  display: flex;
  flex-direction: row;
  width: 100%
}





