
.post {
  cursor: pointer;
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}
.postImage {
  margin: 0;
  position: relative;

}
.postImage::after {
  content: "";
  display: block;
  padding-bottom: 100%;

}
.postImage img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.textPostContainer {
  margin: 0;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 16px;
}

.textPost{
  padding: 2rem;
  font-size: 1rem;
}
  

.post-overlay {
  background: rgba(0,0,0, .4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.post:hover .post-overlay{
			display: flex;
}

.post-like,
.post-comments {
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .post-list {
    grid-gap: 3px;
  }
}