.image {
  /* -webkit-user-select: none; */
  /* -moz-user-select: none; */
  /* -ms-user-select: none; */
  /* user-select: none; */
  -webkit-touch-callout: none;
  object-fit: cover;
  touch-action: manipulation;
  
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  -webkit-touch-callout: none;

}