.container {
  display: flex;
position: fixed;
bottom: 16px;
      right: 20px;
        border-radius: 83px;
        backdrop-filter: blur(3px);
        justify-content: flex-end;
        z-index: 1000;
        -webkit-backdrop-filter: blur(3px);
        border: 0.5px solid white
}