.container {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  flex-grow: 1;
  padding: 8px;
  min-height: 250px;
  margin-bottom: 36px;
}
.avatarContainer {
  display: flex;
  align-items: center;
  margin-right: 40px;
}