.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.dialog {
  backdrop-filter: blur(10px);
        justify-content: flex-end;
        z-index: 1000;
        -webkit-backdrop-filter: blur(10px);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
  .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%
  }
  .layout {
    flex-direction: column;
  }
}

